@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'SFUI';
  src: url('./assets/SFUIText-Regular.otf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'SFUI', sans-serif;
}


